body {
    background-image : url("../hypnotize.png");
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    text-align: center;
    font-size: 3.5em;
}

.usernameField {
    text-align: center;
    padding-top: 5%;
}

p{
    font-size: 2em;
    font-family: 'Comfortaa', cursive;
    text-align: center;
}

input.usernameField {
    padding: 20px 20px;
    font-family: 'Comfortaa';
}

.welcome{
    display : block;
}

a{
    align-content: center;
    font-size: 1.5em;
    font-family: 'Comfortaa', cursive;
}
