body {
    background-image : url("../hypnotize.png");
}

h1 {
    font-family: 'Permanent Marker', cursive;
    margin: auto;
    text-align: center;
    font-size: 3.5em; /* 40px/16=2.5em */
}

.usernameField {
    text-align: center;
    padding-top: 5%;
}

p.usernameField {
    font-size: 2em;
}

input.usernameField {
    padding: 20px 20px;
}
