@font-face {
    font-family: 'Egyptian Nights';
    src: url('../Fonts/Egyptian_Nights.ttf');
}

body {
    background-image : url("../Images/book-botanical-cactus.jpg");
    background-size: cover;
}

h1 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: lighter;
    margin: auto;
    text-align: center;
    font-size:5em;
    padding-top: 15px;
}

h2 {
    font-family: 'IBM Plex Serif', serif;
    font-weight: lighter;
    margin: auto;
    text-align: left;
    font-size:1em;
}

.usernameField {
    text-align: left;
    padding-top: 10px;
}

p{
    font-size: 1em;
    font-family: 'IBM Plex Serif', serif;
    text-align: center;
}

input.username {
    padding-left: 10px;
    text-size: 2em;
}

input.usernameField {
    padding: 10px 10px;
    font-family: 'IBM Plex Serif', serif;
}

.welcome{
    display : inline-block;
}



.messageSpace {
    display: inline-block;
    width: 60%;
    padding: 2px;
    margin: 0;
    background:rgba(255,255,255, 0.6);
}

p.messageSpace{
    text-align: justify;
}

.activeUsersSpace {
    display: inline;
    width: 30%;
    padding: 10px;
    margin: 0;
    background:rgba(255,255,255, 0.8);
    float: right;
}

hr {
    color: red;
}

#messageBox{
    height: 10%;
    width: 60%;
    font-family: 'IBM Plex Serif', serif;
    padding-left: 4px;
    display: inline;
}

#messageSendButton {
    font-family: 'IBM Plex Serif', serif;
    padding: 10px 10px;
    margin-top: 10px;
    display: inline;
}
